:root {
  --transparent: transparent;
  --black: #000;
  --white: #ffffff;
  --tenpo-gray-50: #f9f9f9;
  --tenpo-gray-100: #ececec;
  --tenpo-gray-200: #e3e3e3;
  --tenpo-gray-300: #cdcdcd;
  --tenpo-gray-400: #b4b4b4;
  --tenpo-gray-500: #9b9b9b;
  --tenpo-gray-600: #676767;
  --tenpo-gray-700: #424242;
  --tenpo-gray-750: #2f2f2f;
  --tenpo-gray-800: #212121;
  --tenpo-gray-900: #171717;
  --tenpo-gray-950: #0d0d0d;
  --tenpo-green-10: #97fdb4;
  --tenpo-green-30: #5cffc4;
  --tenpo-green-50: #03ff94;
  --tenpo-green-70: #73cc80;
  --tenpo-green-90: #19d3c3;
  --tenpo-red-60: #a82326;
  --tenpo-red-50-10: #d44d4f;

  --shadow-elevate: 0 2px 4px 0 rgba(49, 61, 73, 0.2);
}
